<div class="container">
  <div  class="col-8 mt-5 mx-auto p-3 bg-white">
    <%= simple_form_for @list do |f| %>
      <%= f.input :name %>
      <%= f.input :photo, as: :file %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
